* {
	padding: 0;
	margin: 0;
}

body {
	background: #F4F4FA;
    font-family: 'Open Sans', sans-serif;
}

header {
	background: #1D87D8;
	color: #fff;
	text-align: center;
	padding: 50px 0;
	height: 50px;
	position: absolute;
	top: 0;
	width: 100%;
}

header .titulo {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

main {
	margin-top: 150px;
}

main .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: #2d5f85;
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #1d87d8;
}

.fm-video .vjs-slider {
	background: #2d5f85;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}

.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}

article {
	margin: 50px 0;
	background: #fff;
	color: #000;
	font-size: 16px;
	line-height: 28px;
	padding: 40px;
}

article h2 {
	color: #2D5F85;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}

	main {
		margin-top: 50px;
	}
}
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: rgb(0, 0, 0);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
a{
     color: #000;
}